

body {
margin: 0;
padding: 0;
background-color: #c5e26e;
background-image: url(../images/dirt_rock.png);
background-attachment: fixed;

}

#wrapper {
width: 100%;
margin: 0 auto;
max-width: 960px;
}



h1,h2 {
color: #99611f;
font-family: verdana;
}

h3 {
color: #d2ac37;
font-family: verdana;
}

p {
font-family: verdana;
font-size: 0.813em;
}

header {
background-color: #fff;
-moz-border-radius-bottomright: 7px;
border-bottom-right-radius: 7px;

-moz-border-radius-bottomleft: 7px;
border-bottom-left-radius: 7px;
}

#logo {
padding: 14px;
}

#call_us {
float: right;
margin-top: -140px;
margin-right: 90px;
text-align: center;
}

section {
background-color: #fff;
border-radius: 7px;

width: 100%;
overflow: auto;
}

section #map {
float: right;
margin-right: 60px;
margin-top: -50px;
width: 450px;
}

#map img {
width: 450px;

}

section #form {
padding-left: 50px;
}

section h2, section p {
padding: 14px;
}

#news {
background-color: #fff;
margin-top: -16px;

-moz-border-radius-topright: 7px;
border-top-right-radius: 7px;

-moz-border-radius-bottomright: 7px;
border-bottom-right-radius: 7px;

border-left: 1px solid #DEDEDE;
}

#news h2, #news p {
padding: 14px;
}

#social {
background-color: #fff;

border-left: 1px solid #DEDEDE;

-moz-border-radius-topright: 7px;
border-top-right-radius: 7px;

-moz-border-radius-bottomright: 7px;
border-bottom-right-radius: 7px;
}

#social h3, #social p {
padding: 14px;
}

#logo img{
width: 250px;
height: 100px;
}

nav ul {
height: 60px;
background: #ffb76b; /* Old browsers */
background: -moz-linear-gradient(top,  #ffb76b 0%, #ffa73d 50%, #ed9200 51%, #ff7f04 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb76b), color-stop(50%,#ffa73d), color-stop(51%,#ed9200), color-stop(100%,#ff7f04)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffb76b 0%,#ffa73d 50%,#ed9200 51%,#ff7f04 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffb76b 0%,#ffa73d 50%,#ed9200 51%,#ff7f04 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffb76b 0%,#ffa73d 50%,#ed9200 51%,#ff7f04 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffb76b 0%,#ffa73d 50%,#ed9200 51%,#ff7f04 100%); /* W3C */

border: 1px solid black;

box-shadow: 1px 1px 8px 0 #000;
}

nav li {
display: inline-block;
margin: 16px;
font-family: verdana, sans-serif;
font-size: 24px;
}

nav li a:link {
color: #000;
text-decoration: none;
}

nav li a:hover {
color: #fff;
}

nav li a:visited {
color: #000;
}

.active {
font-weight: bold;
}

aside {
display:none;
}



footer {
background-color: #d2ac37;
height: 100px;
}

footer p {
padding: 42px;
}



#gallery ul {
	width: 95%;
	list-style-type: none;
}

#gallery li {
float: left;
margin-right: 7px;
margin-top: 7px;

}

#gallery img {
height: 200px;
width: 200px;
border: 1px solid black;

}

#about p {
width: 600px;
}




/* ----------------------  MEDIA QUERIES -------------------- */

@media screen and (min-width: 768px) and (max-width: 959px) {

	body {
	background-color: #c5e26e;
	}
	
	#video {
	display: none;
	}
	
	nav li {
	font-size: 20px;
	}
	
	section img {
		width: 100%;
	}
	

}

@media only screen and (min-width: 480px) and (max-width: 767px) {

	body {
	background-color: #c5e26e;
	}
	
	
	#map {
	margin: 40px;
	}

	#video {
	display: none;
	}

	nav {
	width: 150px;
	text-align: center;
	margin-left: 75px;
	}
	
	nav ul {
	background:none;
	box-shadow: none;
	border: none;
	}
	
	nav li {
	font-size: 18px;
	}
	
	
	section img {
		width: 75%;
	}
	
nav li {
	font-size: 18px;
	height: 60px;
background: #ffb76b; /* Old browsers */
background: -moz-linear-gradient(top,  #ffb76b 0%, #ffa73d 50%, #ed9200 51%, #ff7f04 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb76b), color-stop(50%,#ffa73d), color-stop(51%,#ed9200), color-stop(100%,#ff7f04)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffb76b 0%,#ffa73d 50%,#ed9200 51%,#ff7f04 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffb76b 0%,#ffa73d 50%,#ed9200 51%,#ff7f04 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffb76b 0%,#ffa73d 50%,#ed9200 51%,#ff7f04 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffb76b 0%,#ffa73d 50%,#ed9200 51%,#ff7f04 100%); /* W3C */

border: 1px solid black;
width: 300px;
margin-top: -23px;
box-shadow: 1px 1px 8px 0 #000;
	}
	
	section {
	margin-top: 400px;
	}
	
	
	
	
	

}

@media only screen and (max-width: 479px) {
	body {
	background-color: #c5e26e;
	}
	
	
	#call_us {
	display: none;
	}
	
		nav {
	width: 150px;
	text-align: center;
	margin-left: 20px;
	}
	
	nav ul {
	background:none;
	box-shadow: none;
	border: none;
	}
	
	nav li {
	font-size: 18px;
	}
	
	
	
	
nav li {
	font-size: 18px;
	height: 60px;
background: #ffb76b; /* Old browsers */
background: -moz-linear-gradient(top,  #ffb76b 0%, #ffa73d 50%, #ed9200 51%, #ff7f04 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb76b), color-stop(50%,#ffa73d), color-stop(51%,#ed9200), color-stop(100%,#ff7f04)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffb76b 0%,#ffa73d 50%,#ed9200 51%,#ff7f04 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffb76b 0%,#ffa73d 50%,#ed9200 51%,#ff7f04 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffb76b 0%,#ffa73d 50%,#ed9200 51%,#ff7f04 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffb76b 0%,#ffa73d 50%,#ed9200 51%,#ff7f04 100%); /* W3C */

border: 1px solid black;
width: 300px;
margin-top: -23px;
box-shadow: 1px 1px 8px 0 #000;
	}
	
	section {
	margin-top: 400px;
	width: 100%;
	}
	
	section p {
	width: 300px;
	}
	
	section img {
		width: 50%;
	}
}



